@model IEnumerable<Employee>

<h3 class="text-primary my-3 text-center">Employee List</h3>
	<div class="card-deck">
	<table class="table table-hover table-responsive">
		<thead class="thead-dark">
			<tr>
				<th scope="col" class="text-primary">ID</th>
				<th scope="col" class="text-primary">Name</th>
				<th scope="col" class="text-primary">Department</th>
				<th scope="col" class="text-primary">Email</th>
			</tr>
		</thead>
		<tbody>
		@foreach(var employee in Model)
		{
			<tr>
				<td>@employee.Id</td>
				<td>@employee.Name</td>
				<td>@employee.Department</td>
				<td>@employee.Email</td>
				<td>
						
					@*@Html.ActionLink("View", "details", "home", new {id =@employee.Id})
						<a href="@Url.Action("details", "home", new { id = @employee.Id })" class="btn btn-secondary btn-sm">View</a>
					<a href="/home/details/@employee.Id" class="btn btn-secondary btn-sm" role="button">View details</a>*@

					@*using anchor tag helper*@
					<a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-secondary btn-sm mr-2">View</a>
					<a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-secondary btn-sm mx-2">Edit</a>
						<a asp-controller="Home" asp-action="" asp-route-id="@employee.Id" class="btn btn-danger btn-sm mr-2">Delete</a>


				</td>
			</tr>
				
		}
	</tbody>
	</table>
</div>
